body {
    background-color: #1b262c;
    color: #bbe1fa;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}

a {
    color: #3282b8;
    text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

#title {
    font-weight: normal;
    font-size: 32pt;
    text-align: center;
}

#insides {
    align-items: center;
    align-content: center;
    text-align: center;
}

#flaticon {
    font-size: 8pt;
    text-align: center;
}

#inputBox {
    box-sizing: border-box;
    padding: 12px 20px;
    border: 2px #0f4c75;
    border-radius: 4px;
    background-color: #bbe1fa;
    color: #1b262c;
}

#normalPeopleMeasurement {
    box-sizing: border-box;
    padding: 12px 20px;
    border: 2px #0f4c75;
    border-radius: 4px;
    background-color: #bbe1fa;
    color: #1b262c;
}
